body{
    background-color: white;
}
.first-container
{
    background-color: red;
    border: none;
    width: 100%;
    height: 100%;
}
.sec-container
{
     background-color: yellow;
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    height: 400px;            /* give it height if needed */
    position: relative;
}

.sec-container img{
   border-radius: 50%;
   width: 120px;
   height: 120px;
   object-fit: cover;
}


